/* .strip{
    min-height: 50px;
    background:rgb(125, 158, 183);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
} */
/* .strip h1{
    color: blue;
    font-weight: 900;
    
} */