/* .strip{
    min-height: 200px;
    background:black;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
.strip h1{
    color:red;
   
}
.link{
    color: red;
    font-weight: bold;
}
.link:hover{
    background: pink;
} */